.weather2 {background-color:#F9FBFC}
.weatherpic {position:absolute;repeat:no-repeat}
.weathertext {padding-right:10px;text-align:right;z-index:10;position:relative}
.location {font-weight:bold;font-size:1.2em;line-height:2em}
.temperature {font-size: 3em;font-weight:bold;color:white;text-shadow:2px 2px 2px #1c4171;line-height:0.9em}
/*different colour for IE*/
.temperature {color:#1c4171\9;}
.units {font-size:0.8em}
.text {color:#1c4171;font-weight:bold;padding:8px 0}
.date {padding-bottom:10px;color:#1c4171;font-weight:bold}
.yahoolink{position:relative;z-index:90;font-size:12px;padding:0 0 5px 5px}
/*use this next line for a bootstrapped template*/
.btn-weather {position:relative;float:right;z-index:92;margin:5px;padding:0 10px 0 10px}
/*if you have a non-bootstrap template enable the following line
.btn-weather {display:none}*/ 
#days {padding:5px 5px 0 5px;clear:both}
.day {padding: 5px 0 5px 0;display:block;clear:both;border-top:1px solid silver}
.day img {float:left}
.daytext {padding-right:5px}
.day p {text-align:right}
.day-date {font-weight:bold}
.day-temp {}
.day-text {}
/*use this next section for overriding the bootstrap defaults*/
.carousel.slide {border:none;margin-bottom:0}
.carousel-indicators {top:142px}
.carousel-indicators li {background-color: rgba(39,28,28,0.45);border: 1px solid silver}
/*.carousel-indicators .active {background-color: #900;width:10px;height:10px;margin:0 1px 1px 1px}*/
.carousel-indicators .active {background-color: #900}
.carousel-inner .item {background-repeat:no-repeat;padding-bottom:6px}